name: Release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: windows
            goarch: amd64
            output: lzpb-amd64-windows.exe
          - goos: linux
            goarch: amd64
            output: lzpb-amd64-linux
          - goos: linux
            goarch: arm64
            output: lzpb-arm64-linux
          - goos: darwin
            goarch: arm64
            output: lzpb-arm64-darwin

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Build
        run: go build -ldflags "-w -s" -o ${{ matrix.output }} main.go
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.output }}
